<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue.js 常用指令</title>
</head>
<body>
    <div id="app">

        <!-- v-model 在表单控件或者组件上创建双向绑定 
        仅能在如下元素中使用：
            input select textarea components(Vue组件)-->
        <h4>v-model:</h4>
            {{name}}
        <input type="text" v-model="num1"/> +
        <input type="text" v-model="num2"/> = 
        {{Number.parseInt(num1) + Number.parseInt(num2)}}
            <br>
        <!-- v-text 能够解决插值表达式闪烁的问题 -->
           <h4>v-text:</h4> 
        <span v-text="name"></span>
        <input type="text" v-model="num1"/> +
        <input type="text" v-model="num2"/> = 
        <span v-text="Number.parseInt(num1) + Number.parseInt(num2)"></span>
        <br>
        <h4>v-on:</h4>
        <!-- v-on绑定事件 -->
        <span v-text="result"></span>
        <button v-on:click="change">计算</button>
        <button v-on:click="set_zero">清零</button> <br>
        <!-- v-bind单向绑定，将数据对象绑定在dom的任意属性中（比v-model范围广） -->
        <!-- <img v-bind:src="imageSrc">
        缩写形式
        <img :src="imageSrc"> -->
        <div :style="{ fontSize: size + 'px' }"></div>
        <h4>v-bind:</h4>
        <a :href="url_youinme"> <span v-text="name"></span> </a><br>
        <input type="text" v-model="size">
        <span :style="{ fontSize: size + 'px' }">v-bind绑定到style属性</span>  

    </div>
</body>
    <script src="vue.min.js"></script>
<script>
    var VM = new Vue({
        el:'#app',
        data:{
            name:'youinme',
            num1:0,
            num2:0,
            result:0,
            url_youinme:'https://www.youinme.top/path.php',
            size:20
        },
        methods: {
            change: function(){
                // 使用成员变量前要加this
                this.result = Number.parseInt(this.num1) + Number.parseInt(this.num2)
                // alert("计算结果：" + this.result)
            },
            set_zero: function(){
                this.result = 0;
                this.num1 = 0;
                this.num2 = 0;
            }
        }
    })
</script>
</html>